---
import ButtonLink from '@components/control/ButtonLink.astro';
import Segmented from '@components/ui/segmented';
import { HomeSiderType } from '@constants/enum';
import { routers } from '@constants/router';
import { siteConfig } from '@constants/site-config';
import { getCategoryList, getPostCount, getAllTags, getSortedPosts } from '@lib/content';
import { cn } from '@lib/utils';
import { Icon } from 'astro-icon/components';
import Social from './Social.astro';

interface Props {
  type?: HomeSiderType;
  className?: string;
}

const { type = HomeSiderType.HOME, className } = Astro.props;
const postCount = await getPostCount();
const { countMap } = await getCategoryList();
const posts = await getSortedPosts();
const tags = getAllTags(posts);

const allTags = Object.entries(tags).map(([tag, count]) => ({ tag, count }));
---

<div
  class={cn('sticky top-0  flex flex-col min-w-[16rem] tablet:hidden items-center p-4', className)}
  transition:name="page-home-sider"
>
  {
    type !== HomeSiderType.HOME && (
      <Segmented
        className="mb-4 flex w-full justify-between text-lg"
        itemClass="flex-grow"
        options={[
          { label: 'Home', value: HomeSiderType.HOME },
          { label: 'Post', value: HomeSiderType.POST },
        ]}
        defaultValue={type}
        id="inner-home-sider"
      />
    )
  }
  <img
    transition:persist="page-home-sider-avatar"
    src={siteConfig.avatar}
    alt={`${siteConfig.name}'s avatar`}
    class="shadow-card-darker h-40 w-40 rounded-full transition hover:animate-shake"
  />

  <p class="mt-2">{siteConfig?.name}</p>
  <p class="mt-3 text-muted-foreground">{siteConfig?.description}</p>
  <Social />
  <div
    class="mt-3 flex select-none justify-center whitespace-nowrap text-center text-sm/4 text-muted-foreground dark:text-white/80"
  >
    <a href="/" class="flex cursor-pointer flex-col gap-2 p-1 transition hover:text-blue">
      <span class="text-lg/5 font-bold">{postCount}</span>
      文章
    </a>
    <div class="mx-3 w-px bg-muted-foreground"></div>
    <a href="/categories" aria-label="分类" class="hover:text-blue">
      <p class="flex cursor-pointer flex-col gap-2 p-1 transition">
        <span class="text-lg/5 font-bold">{Object.keys(countMap).length}</span>
        分类
      </p>
    </a>
    <div class="mx-3 w-px bg-muted-foreground"></div>
    <a href="/tags" class="flex cursor-pointer flex-col gap-2 p-1 transition hover:text-blue">
      <span class="text-lg/5 font-bold">{allTags?.length ?? 0}</span>
      标签
    </a>
  </div>
  <div class="mt-6 flex w-full flex-col items-center gap-2">
    {
      routers.map(({ name, path }) => (
        <ButtonLink
          url={path}
          label={name}
          variant="gradient-shoka"
          className={cn('w-40 rounded-2xl transition-all duration-300', {
            'bg-none text-muted-foreground/80 hover:bg-muted-foreground/10': path !== Astro.url.pathname,
          })}
        >
          {name}
        </ButtonLink>
      ))
    }
  </div>
</div>
