---
import type { Category } from '@lib/content';
import CategoryTitle from './CategoryTitle.astro';
import SubCategory from './SubCategory.astro';
import { categoryMap } from '@constants/site-config';
import { cn } from '@lib/utils';

interface Props {
  categories: Category[];
  countMap: Record<string, number>;
  totalCount: number;
}

const { categories, countMap, totalCount } = Astro.props;
---

<div class="shadow-box mx-0 flex w-full flex-col bg-gradient-start p-4 pt-8 md:px-3 md:py-2">
  <h2 class="shoka-decoration-circle group relative px-7.5 py-5 text-2xl/9 font-bold">
    <a href="/" class="dashed-border border-b text-muted-foreground group-hover:border-blue group-hover:text-blue">首页</a>
    <span class="text-xl text-gray-400">/</span> 目前共计 {totalCount} 个分类
  </h2>
  <div class="flex w-full flex-col">
    {
      categories.map((category) => (
        <>
          <CategoryTitle
            title={category.name}
            count={countMap[category.name]}
            href={`/categories/${categoryMap[category.name]}`}
          />
          {category?.children?.length && (
            <div class="category-first-level-container flex flex-col pl-10">
              {category?.children?.length &&
                category.children.map((child) => (
                  <SubCategory category={child} parentName={category.name} countMap={countMap} />
                ))}
            </div>
          )}
        </>
      ))
    }
  </div>
</div>
