---
import type { Category } from '@lib/content';
import CategoryTitle from './CategoryTitle.astro';
import { categoryMap } from '@constants/category';

interface Props {
  category: Category;
  parentName: string;
  countMap: Record<string, number>;
}

const { category, parentName, countMap } = Astro.props;

function getCategoryLink(names: string[]): string {
  return names.map((name) => categoryMap[name]).join('/');
}
---

<!-- <div class="flex flex-col gap-2 pl-6"> -->
<CategoryTitle
  title={category.name}
  count={countMap[category.name]}
  href={`/categories/${categoryMap[parentName]}/${categoryMap[category.name]}`}
  level="h3"
/>
{
  category.children?.length && (
    <div class="category-second-level-container flex flex-col">
      {category.children.map((grandChild) => (
        <p class="shoka-decoration-circle relative px-7.5 py-2 text-base/9 text-primary hover:text-blue">
          <a href={`/categories/${getCategoryLink([parentName, category.name, grandChild.name])}`} class="dashed-border">
            {grandChild.name}
          </a>
          <span class="text-sm text-gray-400">({countMap[grandChild.name] ?? 0})</span>
        </p>
      ))}
    </div>
  )
}
<!-- </div> -->
