---
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { siteConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { getPostLastCategory, getSortedPosts } from '@lib/content';
import { parseDate } from '@lib/datetime';

export async function getStaticPaths() {
  const posts = await getSortedPosts();
  const tags = new Set<string>();

  posts.forEach((post) => {
    const postTags = post.data.tags || [];
    postTags.forEach((tag) => tags.add(tag));
  });

  return Array.from(tags).map((tag) => ({
    params: { tag: tag.replace(/\//g, '-') },
    props: {
      posts: posts.filter((post) => post.data.tags?.includes(tag)),
      tag,
    },
  }));
}

const { tag, posts } = Astro.props;
---

<Layout title={`标签:${tag} | ${siteConfig.title}`} description={`标签 ${tag} 下的所有文章`}>
  <TwoColumnLayout>
    <Cover slot="cover" title={`包含标签"${tag}"的文章`} />
    <HomeSider slot="sider" />
    <div class="shadow-box mx-0 flex w-full flex-col bg-gradient-start px-6 py-4 md:px-3 md:py-2">
      <h2 class="shoka-decoration-circle has-children group relative h-19 px-7.5 py-5 text-2xl/9 font-bold">
        <a
          href={Astro.url.origin + '/tags'}
          class="dashed-border border-b text-muted-foreground group-hover:border-blue group-hover:text-blue">全部</a
        >
        <span class="text-lg text-muted-foreground"> / </span>
        <span class="text-muted-foreground">{tag}</span>
        <span class="text-lg text-muted-foreground">({posts.length} 篇文章)</span>
      </h2>
      {
        posts?.length && (
          <div class="category-second-level-container flex flex-col">
            {posts.map((post) => {
              const { link, name } = getPostLastCategory(post);
              return (
                <p class="shoka-decoration-circle group relative px-7.5 py-2 text-base/9 text-primary md:overflow-visible">
                  <span class="inline-block w-15 text-xs text-muted-foreground md:relative md:-top-1">
                    {parseDate(post?.data?.date, 'YY-MM-DD')}
                  </span>
                  <a
                    href={Astro.url.origin + link}
                    class="mr-2 inline-block text-xs text-muted-foreground hover:text-blue md:relative md:-top-1"
                  >
                    {name}
                  </a>
                  <a href={'/post/' + post?.data?.link} class="dashed-border md:absolute md:left-7 md:top-7">
                    {post?.data?.title}
                  </a>
                </p>
              );
            })}
          </div>
        )
      }
    </div>
  </TwoColumnLayout>
</Layout>
