---
import CategoryList from '@components/category/CategoryList.astro';
import CategoryPostList from '@components/category/CategoryPostList.astro';
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { seoConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import { getCategoryByLink, getCategoryLinks, getCategoryList, getPostsByCategory } from '@lib/content';

// 获取分类页面
export async function getStaticPaths() {
  const { categories } = await getCategoryList();
  const links = getCategoryLinks(categories, '');
  return links.map((link) => {
    const category = getCategoryByLink(categories, link);
    return {
      params: { slug: link },
      props: { category },
    };
  });
}

const { category } = Astro.props;
const { categories: allCategories, countMap } = await getCategoryList();

// 如果是子分类，只展示当前分类的内容
const displayCategories = category ? [category] : allCategories;
---

<Layout title={`分类 - ${category?.name} | ${seoConfig.title}`}>
  <div class="mb-20 flex flex-col">
    <Cover title={`分类于"${category?.name}"的文章`} />
    <div class="mx-auto flex w-full max-w-[90vw] items-start justify-center md:w-full desktop:max-w-8xl">
      <HomeSider />
      <div class="flex flex-grow flex-col gap-8">
        <CategoryPostList rootCategory={category} categories={displayCategories} countMap={countMap} />
      </div>
    </div>
  </div>
</Layout>
