---
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/Cover.astro';
import { siteConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import { getSortedPosts } from '@lib/content';
import { parseDate } from '@lib/datetime';

export async function getStaticPaths() {
  const postCollections = await getSortedPosts();

  return postCollections.map((post) => {
    const link = post.data?.link ?? post.slug;
    return {
      params: { slug: link },
      props: { post },
    };
  });
}
const { post } = Astro.props;
const { Content } = await post.render();
const tags = post.data?.tags ?? [];
const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: post.data.title,
  description: post.data.description || post.body?.slice(0, 100),
  keywords: post.data?.categories?.length ? tags.concat(post.data?.categories[0]) : tags,
  author: {
    '@type': 'Person',
    name: siteConfig.author ?? siteConfig.name,
    url: Astro.site,
  },
  datePublished: parseDate(post.data.date, 'YYYY-MM-DD'),
};
---

<Layout title={`${post.data.title} | ${siteConfig.title}`} description={post.data.description}>
  <script is:inline slot="head" type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  <div class="mb-20 flex flex-col">
    <Cover data={post} />
    <div class="mx-auto flex items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider />
      <div class="shadow-box flex w-full flex-col gap-8 bg-gradient-start p-4 pt-8 2xl:container md:px-1 md:py-2">
        <div class="prose max-w-none"><Content /></div>
      </div>
    </div>
  </div>
</Layout>
