---
import { siteConfig } from '@constants/site-config';
import { parseDate } from '@lib/datetime';
import { Icon } from 'astro-icon/components';
import readingTime from 'reading-time';
import type { BlogPost } from 'types/blog';
import WaveSvg from './wave';
import JSBgScript from './JSBgScript.astro';
import { MAX_WIDTH } from '@/constants/layout';

export interface CoverProps {
  data?: BlogPost;
  title?: string;
}

const { data, title } = Astro.props as CoverProps;

const { date, title: dataTitle } = data?.data ?? {};

const readState = readingTime(data?.body ?? '');
---

<div class="relative flex h-[60dvh] max-h-[50rem] overflow-hidden">
  <div class="absolute inset-0 h-full bg-black/40"></div>
  <div class="absolute inset-0 bottom-[8dvh] flex flex-col items-center justify-center px-5 text-white">
    {
      title ? (
        <h1
          class={`shadow-text word-break flex items-center gap-2 text-center text-5xl/[1.2] font-bold tracking-widest ${MAX_WIDTH.content}`}
        >
          {title}
          <Icon
            name="ri:link"
            title="复制链接"
            class="hover:text-primary cursor-pointer transition-colors duration-300"
            onclick="navigator.clipboard.writeText(window.location.href)"
          />
        </h1>
      ) : data ? (
        <>
          <h1 class={`shadow-text word-break text-4.5xl text-center font-bold md:text-2xl ${MAX_WIDTH.content}`}>
            {dataTitle ?? title}
          </h1>
          {data && (
            <p class="mt-3 flex items-center justify-center gap-4 md:text-xs">
              <span class="flex items-center gap-1">
                <Icon name="fa6-solid:calendar-days" />
                发表于 {parseDate(date ?? '', 'YYYY-MM-DD')}
              </span>
              <span class="flex items-center gap-1">
                <Icon name="fa6-solid:pen-nib" /> {readState?.words} 字
              </span>
              <span class="flex items-center gap-1">
                <Icon name="fa6-solid:clock" />
                {readState?.text}
              </span>
            </p>
          )}
        </>
      ) : (
        <>
          <h2 class="shadow-text font-chill-round text-5xl/[1.2]">{siteConfig?.alternate}</h2>
          <h1 class="shadow-text font-chill-round mt-3 text-5xl/[1.2] font-bold tracking-widest">{siteConfig?.title}</h1>
          <p class="shadow-text mt-5 text-sm">= {siteConfig?.subtitle} =</p>
        </>
      )
    }
  </div>
  <div class="relative -z-10 h-full min-h-[15rem] w-full" transition:persist="page-cover-banner" id="banner-box">
    <img src="/img/site_header.webp" alt="cover" class="h-full w-full object-cover" />
  </div>
  <WaveSvg />
</div>

{siteConfig?.enableJSGridCover && <JSBgScript />}
