---
import { Badge } from '@components/ui/badge';
import FlippedCard from './FlippedCard.astro';
import { cn } from '@lib/utils';
import { Button } from '@components/ui/button';
import { siteConfig } from '@constants/site-config';
import { getPostsByCategory } from '@lib/content';
import type { CollectionEntry } from 'astro:content';
import { routeBuilder } from '@lib/route';
import { Routes } from '@constants/router';

interface CategoryWithPosts {
  name: string;
  image: string;
  posts: CollectionEntry<'blog'>[];
}

const categoryPosts: CategoryWithPosts[] = await Promise.all(
  siteConfig.featuredCategories?.map(async (category) => {
    const posts = await getPostsByCategory(category.name);
    return {
      name: category.name,
      image: category.image,
      posts: posts.slice(0, 6), // 只取最新的6篇文章
    };
  }) || [],
);
---

<div class="grid w-full grid-cols-2 gap-4 md:grid-cols-1">
  {
    categoryPosts.map((category) => (
      <FlippedCard>
        <div slot="front" class="flex-center relative h-full rounded-md px-2 py-4">
          <img src={category.image} alt={category.name} class="absolute inset-0 -z-10 h-full w-full rounded-md object-cover" />
          <div class="absolute inset-0 -z-10 h-full w-full rounded-md bg-shoka-card-mask opacity-25" />
          <h2 class="text-2xl text-white">{category.name}</h2>
          <Badge variant="shoka-tag" className="absolute right-3 top-2.5 text-xs text-white opacity-80 shadow">
            父分类
          </Badge>
        </div>
        <div slot="back" class="relative h-full flex-col rounded-md bg-card px-6 pb-4 pt-16">
          <div
            class={cn(
              'absolute -left-4 top-4 inline-block h-8 max-w-[calc(100%+2rem)] rounded-r-md border bg-gradient-to-l from-gradient-shoka-button-start to-gradient-shoka-button-end pl-6 pr-4',
              "after:absolute after:-left-4 after:top-full after:h-0 after:w-0 after:border-b-16 after:border-l-16 after:border-r-16 after:border-t-0 after:border-transparent after:content-['']",
              'after:border-r-gradient-shoka-button-end',
            )}
          >
            <a class="mt-1.5 block text-base/4 text-white hover:animate-shake" href={`us/category/${category.name}`}>
              {category.name}
            </a>
          </div>
          <div class="grid grid-cols-2 gap-x-5 gap-y-3">
            {category.posts.map((post) => (
              <a
                href={routeBuilder(Routes.Post, post)}
                class="truncate text-left text-primary transition-colors duration-300 hover:text-blue"
              >
                {post.data.title}
              </a>
            ))}
          </div>
          <a href={`/posts/category/${category.name}`} aria-label="more info" class="absolute bottom-0 right-0">
            <Button
              className={cn(
                'rounded-2xl rounded-es-none rounded-se-none bg-gradient-shoka-button transition-all hover:translate-x-1 hover:translate-y-1 hover:scale-105 md:h-7 md:px-2 md:py-1 md:text-xs',
              )}
            >
              more...
            </Button>
          </a>
        </div>
      </FlippedCard>
    ))
  }
</div>
